.display-outer {
    background-color: cadetblue;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}
.display-inner {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: right;
    font-size: 32px;
    font-family: sans-serif;
}
.flex-container {
    width: 420px;
    display: flex;
    background-color: cadetblue;
    margin: auto;
}
.p1-flex-container {
    width: 500px;
    display: flex;
    background-color: cadetblue;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}
.p2-flex-container {
    width: 500px;
    display: flex;
    background-color: cadetblue;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}
.p3-flex-container {
    width: 500px;
    display: flex;
    background-color: cadetblue;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}
.p4-flex-container {
    width: 500px;
    display: flex;
    background-color: cadetblue;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}
.p5-flex-container {
    width: 220px;
    display: flex;
    background-color: cadetblue;
    margin: auto;

}
.p5-button-container {
    width: 250px;
    background-color: cadetblue;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}
.p6-flex-container {
    width: 300px;
    display: flex;
    background-color: cadetblue;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}
.p7-flex-container {
    width: 500px;
    display: flex;
    background-color: cadetblue;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}

.clues-container {
    width: 600px;
    height: 500px;
    display: flex;
    align-items: center;
}
.nav-button {
    height: 50px;
    width: 20px;
    display: flex;
    font-size: x-large;
    font-weight: bolder; 
    padding: 20px;
    user-select: none;    
}
#clue-img {
    height: 500px;
    width: 460px;
    display: flex;
    background-color: black;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin: 5px;
    font-size: 48px;
    font-family: sans-serif;
    user-select: none;
}
.enter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 5px;
    font-size: 48px;
    font-family: sans-serif;
    user-select: none;
}
.grid-enter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 5px;
    font-size: 48px;
    font-family: sans-serif;
    user-select: none;
}
.grid-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 50px;
    width: 50px;
    border: 1px solid black;
   
    font-size: 48px;
    font-family: sans-serif;
    user-select: none;
}
 
.container {
    margin: auto;
    margin-top: 20px;
}
.image-container {
    height: 400px;
    width: 500px;
    position: relative;
}
#p1-box, #p2-box {
    position: absolute;
    bottom: 25px;
    left: 32px;
}
#p1-answer, #p2-answer, #p3-answer, #p4-answer, #p5-answer, #p6-answer, #p7-answer, #p8-answer {
    position: absolute;
    bottom: 150px;
    left: 100px;
    z-index: 1;
    color: red;
}
#p1-btn1 {
    color: red;
}
#p1-btn2 {
    color: green;
}
#p1-btn3 {
    color: blue;
}
#p1-btn4 {
    color: yellow;
}
#p1-btn5 {
    color: white;
}
#p2-btn1 {
    color: red;
}
#p2-btn2 {
    color: red;
}
#p2-btn3 {
    color: red;
}
#p2-btn4 {
    color: red;
}
#p2-btn5 {
    color: white;
}
#p3-btn1 {
    background-color: white;
}
#p3-btn2 {
    background-color: white;
}
#p3-btn3 {
    background-color: white;
}
#p3-btn4 {
    background-color: white;
}
#p3-btn5 {
    color: white;
}
#p4-btn1 {
    background-color: white;
}
#p4-btn2 {
    background-color: white;
}
#p4-btn3 {
    background-color: white;
}
#p4-btn4 {
    background-color: white;
}
#p4-btn5 {
    color: white;
}
#p6-btn0 {
    background-color: cyan;
    border: 2px solid black ;
}
#p6-btn1 {
    background-color: cyan;
    border: 2px solid black;
}
#p7-btn1 {
    background-color: yellow;
}
#p7-btn2 {
    background-color: red;
}
#p7-btn3 {
    background-color: blue;
}
#p7-btn4 {
    background-color: green;
}
#p7-btn5 {
    color: white;
}
#p8-btn0 {
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 1;

}
#p8-btn1 {
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 1;
    left: 330px;
}
#p8-btn2 {
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 1;
    left: 330px;
    top: 265px;
}
#p8-btn3 {
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 1;
    top: 265px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  #congratulations {
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      float: left;
      color: #333;
  }
  #clues {
    height: 50px;
    width: 50px;
  }
  .painting-container {
    height: 285px;
    width: 350px;
    margin: auto;
    position: relative;
 
  }
  #painting {
    height: 285px;
    width: 350px;
    position: absolute;
 
 

  }
